.experiencelist {
  margin: 20px;
  margin-bottom: 6%;
}

.category {
  margin-bottom: 40px;
}

.experience-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adds space between items */
}

.experience-item {
  border: 1px solid #ffffff;
  border-radius: 10px;
  overflow: hidden;
  width: 20%; /* Default width for larger screens */
  box-sizing: border-box;
  transition: transform 0.2s; /* For hover effect */
}

.experience-item:hover {
  transform: translateY(-5px); /* Simple hover effect */
}

.experience-item img {
  width: 100%;
  height: auto;
}

.experience-info {
  padding: 10px;
}

.experience-info h3 {
  margin: 0;
}

.experience-info p {
  margin: 5px 0;
}

.experience-info button {
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .experience-item {
    width: 30%; /* Adjust width for medium screens */
  }
}

@media (max-width: 768px) {
  .experience-item {
    width: 45%; /* Adjust width for smaller screens */
  }
}

@media (max-width: 480px) {
  .experience-item {
    width: 100%; /* Full width for mobile devices */
  }
}

h2 {
  margin: 30px;
  text-align: center;
}
