.footer {
    background: #c5f9ab;
    color: #3ba00e;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.footer-section p,
.footer-section ul,
.footer-section form {
    margin: 10px 0;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #3ba00e;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
    color: #ffffff;
}

.footer-section form input,
.footer-section form textarea {
    width: 86%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
}

.footer-section form button {
    padding: 10px 20px;
    border: none;
    background: #2a79c4;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    left: 35%;
    width: 20%;
}

.footer-section form button:hover {
    background: #3ba00e
}