.ThingsCard {
  margin-top: 20px;
}

.things-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Adjust card width and styling as per your design */
.things-card-container .things-card {
  width: 300px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  background-color: #ffffff;
  transition: transform 0.1s ease-in-out; /* Add transition for smooth effect */
}

.things-card-container .things-card:hover {
  transform: translateY(-5px); /* Apply translation on hover */
}

.things-card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.things-card-content {
  padding: 20px;
}

.things-card-content h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.things-card-content p {
  font-size: 1rem;
  color: #555555;
  line-height: 1.4;
  margin: 0;
}

.things-card-link {
  display: block;
  width: 100%;
  margin-top: 15px;
  padding: 10px 0;
  text-align: center;
  background-color: #409d2e;
  color: #ffffff;
  font-size: 1rem;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  /* Adjust button hover background color */
  &:hover {
    background-color: #27912b;
    text-decoration: none;
  }
}
