.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.profile-details {
  margin-bottom: 12%;
  width: 80%;
  max-width: 600px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-details h3 {
  margin-top: 20px;
}

.profile-details p {
  margin: 10px 0;
}

.profile-details ul {
  list-style-type: none;
  padding: 0;
}

.profile-details ul li {
  background: #f7f7f7;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}
.editbutton{
  margin-top: 5%;
}

.profile-details form{
  margin-right: 100%;
}

.savebutton{
  margin-top: 10%;
  width: max-content;
}
.profile-details input{
  margin-bottom: 20%;
}
